:root {
  /* --background: #ffffff; */
  /* --foreground: #242424; */
  --background: #141414;
  --foreground: #e9e9e9;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #141414;
    --foreground: #e9e9e9;
  }
} */

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: system-ui, sans-serif;
  margin: 0;
  padding: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

*:focus {
  box-shadow: none;
  outline: 2px solid;
  outline-offset: 2px;
  outline-color: rgb(119, 169, 255);
  z-index: 9999;
}
